
article p {
    width: 400px;
    border:10px rgb(0, 183, 255);
    padding:5px;
    margin:15px;
    margin-right: 50%;
    margin-left: 25%;
    background-color: gainsboro;
    border-style: solid;

}
article header img {
    margin-left:0%;
}
header {
    text-transform: uppercase;
    margin-left:10%;
}